body{
        //background-image:url(images/sprite_background.png);
        //background-color: blue;
        //background-size:100% 100%;
        //background-repeat:no-repeat;
}


#wrapper{
	position:relative;
	margin:auto;
	width:960px;
	height:1000px;
	padding:10px;
        background-color:black;
        //opacity:0.95;
}

#header{
	float:left;
	width:960px;
	height:100px;
        background-color:green;
        color:#ffd700;
}

/*  --  navigation style  --  */
#nav{
	float:left;
	width:960px;
	height:40px;
	padding-top:10px;
}

#buttons{
	position:relative;
	margin:auto;
	width:808px;
	height:30px;
}

.btn{
	float:left;
	width:100px;
	height:30px;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	color:#000000;
	background-color:#ffffff;
	margin-right:1px;
	text-shadow:2px 2px 7px #000000;
}

.btn:hover{
	float:left;
	width:100px;
	height:30px;
	text-decoration:none;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	background-color:#000000;
	margin-right:1px;
	text-shadow:2px 2px 7px #ffffff;
}

 /*  --  end navigation  --  */

 /*  --  start main page data  --  */
#container{
	float:left;
	width:960px;
	height:725px;
	margin-top:10px;
	margin-bottom:15px;
        background-color:white;
}

#forms{
    float:left;
    border:1px solid black;
    width:350px;
    padding:15px;
    margin: 15px;
    border-radius:1em;
    background-color:white;
}

.link{
    float:right;
}

.errorText{
    color:red;
}

#pdf{
    height:725px;
}

#infoSection{
    float:left;
    background-color:#212121;
    color:red;
    font-family:"Courier New";
    font-size:15px;
    width:325px;
    height:120px;
}

#legend
{
    float:left;
    height: 120px;
    width: 325px;
    background-color:#212121;
    color:red;
    font-family:"Courier New";
    clear:left;
}



#controlSection{
    float:right;
    background-color:#212121;
    color:red;
    font-family:"Courier New";
    font-size:15px;
    width:635px;
    height:240px;
    margin-top: -120px;
}

.playerInfo{
    margin:0px;
    padding:0px;
    display:inline;
}

.creatorInfo{
    margin:10px;
    padding:5px;
}

#announcements{
    float:right;
    width:450px;
    height:300px;
    background-color:green;
    border:2px dashed black;
    margin-right:20px;
    margin-top:10px;
    padding:5px;
}
 /*  --  end main page data  --  */

 /*  --  start footer  --  */
#footer{
	float:left;
	width:960px;
	height:100px;
	clear:both;
	font-size:16px;
	color:#ffffff;
}

.copyr{
	float:right;
	line-height:100px;
	margin:0 10px 0 0;
}

.info{
	float:left;
	line-height:100px;
	margin:0 0 0 10px;
}

.infoLink{
    color:white;
}
 /*  --  end footer  --  */